@import url(./fonts.css);

* {
    font-family: Shabnam, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 1216px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: rgb(59, 160, 255);
    text-decoration: none;
}

.card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px 0px rgb(172, 172, 172);
    border-radius: 10px;
    gap: 10px;
    width: 100%px;
    justify-content: center;
}

.p-list {
    display: flex;
    gap: 20px;
}

.p-name {
    justify-content: center;
    margin-bottom: 30px;
}

.p-name a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
    line-height: 1.5;
    height: 60px;
}

.discount {
    background-color: rgb(255, 219, 219);
    color: rgb(209, 0, 0);
    border-radius: 4px;
    padding: 0px 3px;
    font-weight: bold;
    margin-top: 10px;
}

.p-img {
    width: 100%;
}